<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sessionFactory">
		<!--显示SQL语句 -->
		<property name="show_sql">true</property>
		<!--以格式良好的方式显示SQL语句 -->
		<property name="format_sql">true</property>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">roots</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nerve</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
	</session-factory>
</hibernate-configuration>
